@page "/cud_Books"
@using Lab6_LibraryManager.Services
@using TableModels
@inject BooksService BooksService
@inject UsersService UsersService

<h1>Books</h1>
<input type="text" @bind="searchString" @bind:event="oninput" placeholder="Search..." />

@if (books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid black; padding: 8px; text-align: left;">ID</th>
                <th style="border: 1px solid black; padding: 8px; text-align: left;">Title</th>
                <th style="border: 1px solid black; padding: 8px; text-align: left;">Author</th>
                <th style="border: 1px solid black; padding: 8px; text-align: left;">ISBN</th>
                <th style="border: 1px solid black; padding: 8px; text-align: left;">Checked Out By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in books.Where(Search))
            {
                <tr>
                    <td style="border: 1px solid black; padding: 8px; text-align: left;">@book.Id</td>
                    <td style="border: 1px solid black; padding: 8px; text-align: left;">@book.Title</td>
                    <td style="border: 1px solid black; padding: 8px; text-align: left;">@book.Author</td>
                    <td style="border: 1px solid black; padding: 8px; text-align: left;">@book.ISBN</td>
                    <td style="border: 1px solid black; padding: 8px; text-align: left;">@book.CheckedOutBy</td>
                    <td style="border: 1px solid black; padding: 8px; text-align: left;">
                        <button @onclick="() => UpdateBook(book)">Update</button>
                        <button @onclick="() => DeleteBook(book)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Add/Update Book</h3>
<EditForm Model="book" OnValidSubmit="AddBook">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="title" @bind-Value="book.Title" placeholder="Title" />
    <InputText id="author" @bind-Value="book.Author" placeholder="Author" />
    <InputText id="isbn" @bind-Value="book.ISBN" placeholder="ISBN" />

    <button type="submit">Submit</button>
</EditForm>

<h3>Users</h3>
<table>
    <thead>
        <tr>
            <th style="border: 1px solid black; padding: 8px; text-align: left;">ID</th>
            <th style="border: 1px solid black; padding: 8px; text-align: left;">Username</th>
            <th style="border: 1px solid black; padding: 8px; text-align: left;">Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td style="border: 1px solid black; padding: 8px; text-align: left;">@user.Id</td>
                <td style="border: 1px solid black; padding: 8px; text-align: left;">@user.Name</td>
                <td style="border: 1px solid black; padding: 8px; text-align: left;">@user.Email</td>
            </tr>
        }
    </tbody>
</table>


@code {
    private string searchString = "";
    private Books book = new Books();
    private List<Books> books = new List<Books>();
    private List<Users> users = new List<Users>();


    protected override void OnInitialized()
    {
        books = BooksService.GetAll();
        users = UsersService.GetAll();
    }

    private List<Books> GetAll()
    {
        books = BooksService.GetAll();
        return books;
    }

    private void AddBook()
    {
        if(book.Id == 0)
        {
            BooksService.Add(book);
        }
        else
        {
            BooksService.Update(book);
        }
        book = new Books();
        books =  BooksService.GetAll();
        StateHasChanged();
    }

    private void UpdateBook(Books book)
    {
        this.book = book;
        StateHasChanged();
    }

    private void DeleteBook(Books book)
    {
        BooksService.Delete(book);
        GetAll();
    }

    private bool Search(Books book)
    {
        if (string.IsNullOrWhiteSpace(searchString))
        {
            return true;
        }

        if (book.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }

        if (book.Author.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }

        if (book.ISBN.Contains(searchString, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }

        return false;
    }

}
